<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="styles/DataTablesStyles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"  integrity="sha384-5e2ESR8Ycmos6g3gAKr1Jvwye8sW4U1u/cAKulfVJnkakCcMqhOudbtPnvJ+nbv7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.6/css/dataTables.tailwindcss.css"/>
    <title>Listado Alumnos</title>
</head>
<body>

<section th:fragment="table-user" class="container px-4 mx-auto">
  <div class="flex flex-col">
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
        <div class="overflow-hidden border border-gray-200 dark:border-gray-700 md:rounded-lg">
          <table id="tablaUsuario" class="display min-w-full divide-y divide-gray-200 dark:divide-gray-700">
            <thead class="bg-gray-50 dark:bg-gray-800">
            <tr>
              <th scope="col" class="py-3.5 px-4 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                <div class="flex items-center gap-x-3">
                  <input type="checkbox" class="text-blue-500 border-gray-300 rounded dark:bg-gray-900 dark:ring-offset-gray-900 dark:border-gray-700">
                  <button class="flex items-center gap-x-2">
                    <span>Codigo</span>
                    <svg class="h-3" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M2.13347 0.0999756H2.98516L5.01902 4.79058H3.86226L3.45549 3.79907H1.63772L1.24366 4.79058H0.0996094L2.13347 0.0999756ZM2.54025 1.46012L1.96822 2.92196H3.11227L2.54025 1.46012Z" fill="currentColor" stroke="currentColor" stroke-width="0.1" />
                      <path d="M0.722656 9.60832L3.09974 6.78633H0.811638V5.87109H4.35819V6.78633L2.01925 9.60832H4.43446V10.5617H0.722656V9.60832Z" fill="currentColor" stroke="currentColor" stroke-width="0.1" />
                      <path d="M8.45558 7.25664V7.40664H8.60558H9.66065C9.72481 7.40664 9.74667 7.42274 9.75141 7.42691C9.75148 7.42808 9.75146 7.42993 9.75116 7.43262C9.75001 7.44265 9.74458 7.46304 9.72525 7.49314C9.72522 7.4932 9.72518 7.49326 9.72514 7.49332L7.86959 10.3529L7.86924 10.3534C7.83227 10.4109 7.79863 10.418 7.78568 10.418C7.77272 10.418 7.73908 10.4109 7.70211 10.3534L7.70177 10.3529L5.84621 7.49332C5.84617 7.49325 5.84612 7.49318 5.84608 7.49311C5.82677 7.46302 5.82135 7.44264 5.8202 7.43262C5.81989 7.42993 5.81987 7.42808 5.81994 7.42691C5.82469 7.42274 5.84655 7.40664 5.91071 7.40664H6.96578H7.11578V7.25664V0.633865C7.11578 0.42434 7.29014 0.249976 7.49967 0.249976H8.07169C8.28121 0.249976 8.45558 0.42434 8.45558 0.633865V7.25664Z" fill="currentColor" stroke="currentColor" stroke-width="0.3" />
                    </svg>
                  </button>
                </div>
              </th>

              <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                Usuario
              </th>

              <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                Accion
              </th>

              <th scope="col" class="relative text-sm font-normal text-left rtl:text-right text-gray-500 py-3.5 px-4 dark:text-gray-400">
                Estado
              </th>
            </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200 dark:divide-gray-700 dark:bg-gray-900">
                <tr  th:each="alumno : ${alumnos}">
                  <td class="px-4 py-4 text-sm font-medium text-gray-700 dark:text-gray-200 whitespace-nowrap">
                    <div class="inline-flex items-center gap-x-3">
                      <span th:text="'#' + ${alumno.idUsuario}"></span>
                    </div>
                  </td>
                  <td class="px-4 py-4 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap">
                    <div class="flex items-center gap-x-2">
                      <img class="object-cover w-8 h-8 rounded-full" th:src="@{${alumno.image}}" alt="">
                      <div>
                        <h2 class="text-sm font-medium text-gray-800 dark:text-white " th:text="${alumno.nombres}"></h2>
                        <p class="text-xs font-normal text-gray-600 dark:text-gray-400" th:text="${alumno.email}"></p>
                      </div>
                    </div>
                  </td>
                  <td class="px-4 py-4 text-base whitespace-nowrap">
                    <div class="flex items-center gap-x-6">
                      <div class="relative group">
                        <button th:type="button" id="infoBtn" class="text-gray-500 transition-colors duration-200 hover:text-green-500" aria-label="Informacion">
                          <i class="fa-solid fa-circle-info"></i>
                        </button>
                        <span class="absolute bottom-10 left-1/2 transform -translate-x-1/2 bg-black text-white text-xs rounded px-2 py-1 opacity-0 group-hover:opacity-100">
                          Información
                        </span>
                      </div>
                      <div class="relative group">
                        <button class="text-gray-500 transition-colors duration-200 hover:text-blue-500">
                          <i class="fa-solid fa-pen"></i>
                        </button>
                        <span class="absolute bottom-10 left-1/2 transform -translate-x-1/2 bg-black text-white text-xs rounded px-2 py-1 opacity-0 group-hover:opacity-100">
                          Editar
                        </span>
                      </div>
                      <div class="relative group">
                        <button class="text-gray-500 transition-colors duration-200 hover:text-red-500">
                          <i class="fa-regular fa-circle-xmark"></i>
                        </button>
                        <span class="absolute bottom-10 left-1/2 transform -translate-x-1/2 bg-black text-white text-xs rounded px-2 py-1 opacity-0 group-hover:opacity-100">
                          Eliminar
                        </span>
                      </div>
                    </div>
                    <div class="expansible" style="display:none;"
                         th:data-id="${alumno.idUsuario}"
                         th:data-nombres="${alumno.nombres}"
                         th:data-apellidos="${alumno.apellidos}"
                         th:data-email="${alumno.email}"
                         th:data-image="${alumno.image}">
                    </div>
                  </td>
                  <td class="px-4 py-4 text-sm font-medium text-gray-700 whitespace-nowrap">
                    <div th:if="${alumno.status}">
                      <div class="inline-flex items-center px-3 py-1 rounded-full gap-x-2 text-emerald-500 bg-emerald-100/60 dark:bg-gray-800">
                        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M10 3L4.5 8.5L2 6" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        <h2 class="text-sm font-normal">Activo</h2>
                      </div>
                    </div>
                    <div th:unless="${alumno.status}">
                      <div class="inline-flex items-center px-3 py-1 text-red-500 rounded-full gap-x-2 bg-red-100/60 dark:bg-gray-800">
                        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M9 3L3 9M3 3L9 9" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        <h2 class="text-sm font-normal">Retirado</h2>
                      </div>
                    </div>
                  </td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
  <script src="https://code.jquery.com/jquery-3.7.1.js" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/fa1c4cdd19.js" crossorigin="anonymous"></script>
  <script src="https://cdn.datatables.net/2.1.6/js/dataTables.js" crossorigin="anonymous"></script>
  <script src="https://cdn.datatables.net/2.1.6/js/dataTables.tailwindcss.js" crossorigin="anonymous"></script>
  <script>
    $(document).ready(function() {
      var table = $('#tablaUsuario').DataTable({
        "language": {
          "lengthMenu": "Mostrar _MENU_ registros por página",
          "zeroRecords": "No se encontraron resultados",
          "info": "Mostrando _START_ a _END_ de _TOTAL_ registros",
          "infoEmpty": "Mostrando 0 a 0 de 0 registros",
          "infoFiltered": "(filtrado de _MAX_ registros totales)",
          "search": "Buscar por nombre:"
        }
      });

      $('.dt-search input').addClass('')

      function format(d){

        var id = d.data('id'); /***Accede a los datos adicionales desde los atributos data-* de Thymeleaf***/
        var nombres = d.data('nombres');
        var apellidos = d.data('apellidos');
        var email = d.data('email');
        var image = d.data('image');

        return  `
          <div class="slider m-10 text-gray-200">
            <p><strong>Id:</strong> ${id} </p>
            <p class="flex items-center mt-5"><strong>Foto:</strong><img class="object-cover ml-5 w-8 h-8 rounded-full" src=${image} alt=""></p>
            <p class="mt-5"><strong>Nombres:</strong> ${nombres}</p>
            <p class="mt-5"><strong>Apellidos:</strong> ${apellidos}</p>
            <p class="mt-5"><strong>Email:</strong> ${email}</p>
          </div>
                `;
      }

      $('#tablaUsuario tbody').on('click', 'td #infoBtn', function () {
        var tr = $(this).closest('tr');
        var row = table.row(tr);
        var btn = $(this);
        var expansible = tr.find('.expansible');

        console.log(row.data());
        //Si la fila esta abierta, la cierra
        if (row.child.isShown()) {
          $('div.slider', row.child()).slideUp(function () {
            row.child.hide();
            tr.removeClass('shown');
          });
          btn.removeClass('text-green-500')
          btn.addClass('text-gray-500')
        }
        else {
          row.child('<div class="slider" style="display: none;">' + format(expansible) + '</div>').show();

          $('div.slider', row.child()).slideDown(function () {
            tr.addClass('shown');
          });
          btn.addClass('text-green-500')
          btn.removeClass('text-gray-500')
        }
      });
    });
  </script>
</body>
</html>

<!--
<h1>Listado Alumnos</h1>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Nombre</th>
    <th>Apellidos</th>
    <th>Email</th>
    <th>DNI</th>
    <th>Acciones</th>
  </tr>
  </thead>
  <tbody>
<tr th:each="alumno : ${alumnos}" class="table-success">
  <td th:text="${alumno.nombres}">ID</td>
  <td th:text="${alumno.apellidos}">Nombre</td>
  <td th:text="${alumno.email}">Email</td>
  <td th:text="${alumno.dni}">DNI</td>
  <td>
    <a class="btn btn-success" th:href="@{/persona/visualizar/{id}(id=${alumno.idUsuario})}"><i class="fa-solid fa-circle-info"></i></a>
    <a class="mx-3 btn btn-primary" th:href="@{/persona/editar/{id}(id=${alumno.idUsuario})}"><i class="fa-solid fa-pen"></i></a>
    <a class="btn btn-danger" th:href="@{/persona/eliminar/{id}(id=${alumno.idUsuario})}"><i class="fa-regular fa-circle-xmark"></i></a>
  </td>
</tr>
</tbody>
</table>
-->